.logo-container {
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 25%;
  height: 450px;
}

.logo-container img {
  max-width: 100%; /* of the container */
  max-height: 100%;
  object-fit: contain; /* This ensures the aspect ratio is maintained */
  border: 1px solid #cad4d8;
  animation: fadeIn 1s 3.8s backwards;
  box-shadow: 0px 0px 5px #000000;
}
