.logo-container {
  z-index: 0;
  width: 500px;
  height: 450px;
  position: absolute;
  top: 15%;
  left: 55%;
  margin: auto;

  .solid-logo {
    /*position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 100%;
    z-index: 1; */
  }

}
