.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 500px;
}

.logo-container img {
  width: 70%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  //border: 1px solid #FFD700;
  border-radius: 10px;
  animation: fadeIn 4s 5s backwards;
  box-shadow: 0px 0px 5px #000000;
}
