.about-page{
    overflow: auto;

    .text-zone{
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 100%;
        letter-spacing: 3px;
    }
}
.flat-button{
    color:#ffd700;
    font-size: 13;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #ffd700;
    margin-bottom: 20px;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;
    background: transparent;

    &:hover{
        background: #ffd700;
        color: #333;
        cursor: pointer;
    }
}