.home-page{

    .text-zone{
        position: absolute;
        left: 15%;
        top: 50%;
        transform: translateY(-50%);
        width: 50%;
    }

    h1{
        color:#dce3e6;
        font-size: 50px;
        margin: 0;
        font-family: 'Cinzel';
        font-weight: 700;
        letter-spacing: 1px;
    }

    h2{
        color:#eef2f3;
        margin-top: 10px;
        font-weight: 300;
        font-size: 27px;
        font-family: 'Cardo';
        animation: fadeIn 1s 1.8s backwards;

        .text-animate-hover {
            &:hover {
              color: #415a77;
            }
          }
    }

    h3 {
      color: #415a77;
      font-weight: 400;
      font-size: 18px;
      font-family: 'Inter';
      letter-spacing: 4px;

      .text-animate-hover {
          &:hover {
            color: #DCE3E6;
          }
        }
    }

    .flat-button{
        color:#eef2f3;
        background-color: transparent;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: 'Cinzel';
        text-decoration: none;
        padding: 10px 28px;
        border: 1px solid #eef2f3;
        margin-top: 25px;
        margin-right: 20px;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;

        &:hover{
            background: #b9c6cb;
            font-weight: 700;
            color: #333;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}


.spacer {
  justify-content: space-evenly;
}
