.home-page{
      display: flex;
      flex-direction: row; /* This will arrange children in a row */
      align-items: center; /* This will vertically center the children */
      justify-content: center; /* This will horizontally center the children */

    .text-zone{
        width: 40%;
        margin-right: 30px;

        .waves {
            margin-top: -55px;
            width: 80%;
            height: 250px;
            background-image: url('../../assets/images/waves.png');
            background-size: 100%;
            background-attachment: local, scroll;
            background-position: 15px;
            background-repeat: no-repeat;
            animation: fadeIn 1s 3.8s backwards;
          }
    }

    .job-title{
        color: #dce3e6;
        margin-top: 10px;
        font-weight: 700;
        font-size: 18px;
        font-family: 'Inter';
        letter-spacing: 1px;
        animation: fadeIn 1s 3.8s backwards;

        .text-animate-hover {
          &:hover {
            color: #415a77;
          }
        }
      }

    .sub-array{
      color: #415a77;
      font-weight: 400;
      font-size: 16px;
      font-family: 'Inter';
      letter-spacing: 1px;
      margin-top: 10px;
      animation: fadeIn 1s 3.8s backwards;

      .text-animate-hover {
        &:hover {
          color: #DCE3E6;
        }
      }
    }

    h1{
        color:#dce3e6;
        font-size: 55px;
        margin: 0;
        font-family: 'Cardo';
        font-weight: 700;
        letter-spacing: 1px;
    }

    .flat-button{
        color:#eef2f3;
        background-color: transparent;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 1px;
        font-family: 'Cardo';
        text-decoration: none;
        padding: 8px 16px;
        border: 1px solid #eef2f3;
        border-radius: 4px;
        margin-top: 25px;
        margin-right: 20px;
        animation: fadeIn 1s 3.8s backwards;
        white-space: nowrap;

        &:hover{
            background: #b9c6cb;
            font-weight: 300;
            color: #333;
            text-decoration: underline;
            cursor: pointer;
            transition: all 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
            transform: translateY(-3px);
        }
    }

    .vertical-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }


}

@media (max-width: 1025px) {
  .home-page {

    h1 {
      font-size: 45px;
    }
  }
}

@media (max-width: 850px) {
  .home-page {

    h1 {
      font-size: 35px;
    }
  }
}

@media (max-width: 768px) {
  .home-page {
    flex-direction: column;

    h1{
        font-size: 35px;
    }
  }
}
