.contact-form{
    width: 100%;

    ul{
        padding: 0;
        margin: 0;

        li{
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 10px;
            overflow: hidden;
            display: block;
            position: relative;
            opacity: 0;
            animation: fadeInUp 2s 2s;
            animation-fill-mode: forwards;
            clear: both;
        }

        li.half{
            width: 49%;
            margin-left: 2%;
            float: left;
            clear: none;

            &:first-child{
                margin-left: 0;
            }
        }
    }

    input[type='text'],
    input[type='email']{
        width: 100%;
        border: 0;
        background: rgba(41, 194, 255, 0.14);
        height: 40px;
        font-size: 14px;
        color: #eef2f3;
        padding: 0 20px;
        box-sizing: border-box;
        border: 1px solid #eef2f3;
        border-radius: 4px;
    }

    textarea{
        width: 100%;
        border: 0;
        background: rgba(41, 194, 255, 0.14);
        height: 38px;
        font-size: 14px;
        color: #fff;
        padding: 20px;
        min-height: 130px;
        box-sizing: border-box;
        border: 1px solid #eef2f3;
        border-radius: 4px;
    }

    .flat-button{
        color: #eef2f3;
        background: transparent;
        font: 11px;
        letter-spacing: 2px;
        text-decoration: none;
        padding: 8px 10px;
        border: 1px solid #eef2f3;
        float: right;
        border-radius: 4px;
        margin-top: 10px;

        &:hover {
            background: rgba(41, 194, 255, 0.321);
            color: #eef2f3;
            cursor: pointer;
            text-decoration: underline;
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            transform: translateY(-3px);
          }
    }
}

.info-map{
    position: fixed;
    background-color: #b9c6cb;
    left: 63%;
    z-index: 999999;
    width: 200px;
    padding: 15px;
    color: #fff;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 300;
    animation: fadeIn 3s 2.5s;
    animation-fill-mode: forwards;

    span{
        font-size: 16px;
        display: block;
        padding-top: 20px;
        color: #ffd700;
    }
}

.map-wrap{
    border: rgba(41, 194, 255, 0.321) 2px solid;
    background: #95a8b0;
    position: absolute;
    left: 55%;
    width: 32%;
    height: 65%;
    bottom: 20%;
}

.leaflet-container{
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0;
    animation: backInRight 2s 1.2s;
    animation-fill-mode: forwards;
}
