.sprite {
  position: absolute;
  width: 52px;
  height: 52px;
  background-image: url('./blackagumonx.gif');
  background-repeat: no-repeat;
  //animation: movingAnimation 3s infinite ease-in-out alternate;
}

@keyframes movingAnimation {
  0% {
    transform: translateX(-200px);
  }

  50% {
    transform: translateX(200px);
  }

  100% {
    transform: translateX(-200px);
  }
}
