
html{
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', 'sans-serif';
  background-color: #8399a2;
  background-image: url('./assets/images/waves.png');
  background-size: 40%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  overflow: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
Primary Background Color #8399a2
Secondary Background Color (#95a8b0) headers,footers, or cards
Primary Text Color (#dce3e6) main content text
Accent Colors (#a7b7bd, #b9c6cb, #cad4d8, #eef2f3)
*/
